*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Temporal */
.cv-harvard-decorator {

  /* Identity */
  --font-size-identiy-name: calc(22pt * var(--cv-font-scale) * var(--cv-heading-scale));

  --font-size-title: calc(14.67pt * var(--cv-font-scale));

  /* Sections */
  --font-size-section-name: 15pt;

  /* Content */
  --font-size-item: calc(13pt * var(--cv-font-scale));
  --icon-size-item: calc(1.1rem * var(--cv-font-scale));

  /* Space */
  --space-size-item: calc(0.5rem + var(--cv-spacing-item));

  font-family: var(--cv-font-family);
}


.paragraph {
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;

  max-width: 100%;
}

/* font-size: calc(var(--font-size-body) * var(--cv-font-scale)); */