.profile {
  display: flex;
  flex-direction: column;
  gap: var(--cv-spacing-component) 0;
}

/* Photo */
.photo {
  /* display: flex; */
  width: 6.5rem;
  height: 6.5rem;
  flex-basis: 6.5rem;
  min-width: 0;
  margin: 1rem auto;
  overflow: hidden;

  /* Photo - Variants */
  &.photo--square {
    border-radius: initial;
  }

  &.photo--circular {
    border-radius: 50%;
  }

  /* Photo - Image */
  & .photo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


/* Profile Header */
.profile-header__identity {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: calc(var(--space-size-item) - 5px) 0;

  /* Name */
  .name {
    margin: 0;
    padding: 0;
    color: var(--cv-color-primary);
    font-size: var(--font-size-identiy-name);
    font-weight: 700;
    line-height: 0.5;

    /* Name - Variants */
    &.name--uppercase {
      text-transform: uppercase;
    }

    &.name--capitalize {
      text-transform: capitalize;
    }
  }

  & p {
    margin: var(--cv-spacing-item) 0 0;
    color: var(--cv-color-secondary);
    font-size: var(--font-size-title);
    line-height: var(--cv-line-height);
  }
}

/* Contact Info */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: calc(var(--space-size-item) - 10px) var(--space-size-item);

  /* Contact Info - List */
  &.contact-info--list {
    list-style: none;
    vertical-align: middle;

    & .contact-item::before {
      content: '•';
      vertical-align: middle;
    }

    & .contact-item.li-style--desactive::before {
      content: '';
    }
  }

  /* Contact Item */
  & .contact-item {
    display: inline-flex;
    align-items: center;
    min-width: 1rem;
    gap: 0.4rem;

    /* Contact Item - Icon Variant */
    &.contact-item--icon {
      cursor: pointer;

      & .contact-item__value {
        display: none;
      }
    }

    /* Contact Item - Icon */
    & .contact-item__icon {
      width: var(--icon-size-item);
      height: var(--icon-size-item);
      flex-shrink: 0;
      color: var(--cv-color-muted) !important;
    }

    /* Contact Item - Value */
    & .contact-item__value {
      position: relative;
      color: var(--cv-color-text);
      font-size: var(--font-size-item);
      line-height: var(--cv-line-height);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}