/* ! */
/* .sumary {
  margin-bottom: var(--cv-spacing-section);
} */

.summary {
  display: flex;
  flex-direction: column;
  gap: var(--space-size-item) 0;
}

.summary__paragraph {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-item);
  line-height: var(--cv-line-height);
  color: var(--cv-color-text);
}