/* Work Experience */

.work-experience {
  display: flex;
  flex-direction: column;
  gap: var(--hc-space-component) 0;
}

/* Title */
.section-title {
  font-size: var(--hc-fs-section);
}

.work-experience__history {
  display: flex;
  flex-direction: column;
  gap: var(--hc-space-item) 0;
}

/* Header */
.work-experience__header,
.work-experience__subheader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--hc-space-item) 0;
}

.company-info {
  display: flex;
  align-items: baseline;
  gap: var(--hc-space-item);


  .company-name {
    margin: 0;
    padding: 0;
    color: var(--hc-color-text);
    font-size: var(--hc-fs-body);
    font-weight: 600;
    line-height: var(--hc-line-height);
  }

  .experience__separator {
    /*  */
    color: var(--hc-color-muted);
  }

  .experience__link {
    color: var(--hc-color-secondary);
    font-size: var(--hc-fs-body);
    line-height: var(--hc-line-height);
    text-decoration: none;
  }

  .experience__link:hover {
    text-decoration: underline;
  }
}

/* Location / Period */

.location,
.period {
  color: var(--hc-color-secondary);
  font-size: var(--hc-fs-body);
  line-height: var(--hc-line-height);
  white-space: nowrap;
}

/* Job */
.job-title {
  margin: 0;
  padding: 0;
  color: var(--hc-color-secondary);
  font-size: var(--hc-fs-body);
  font-weight: 500;
  line-height: var(--hc-line-height);
}

/* Description */

.description {
  margin: 0;
  padding: 0;
  color: var(--hc-color-text);
  font-size: var(--hc-fs-body);
  line-height: var(--hc-line-height);
}

/* Achievement */

.achievement {
  margin: 0;

  .achievement-item {
    font-size: inherit;
    line-height: inherit;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: var(--hc-color-text);
    font-size: var(--hc-fs-body);
    line-height: var(--hc-line-height);
  }
}