/* Work Experience */

.work-experience {
  display: flex;
  flex-direction: column;
  gap: var(--cv-spacing-component) 0;
}

/* Title */
.section-title {
  font-size: var(--font-size-section-name);
}

.work-experience__history {
  display: flex;
  flex-direction: column;
  gap: var(--space-size-item) 0;
}

/* Header */
.work-experience__header,
.work-experience__subheader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--space-size-item) 0;
}

.company-info {
  display: flex;
  align-items: baseline;
  gap: var(--space-size-item);


  .company-name {
    margin: 0;
    padding: 0;
    color: var(--cv-color-text);
    font-size: var(--font-size-item);
    font-weight: 600;
    line-height: var(--cv-line-height);
  }

  .experience__separator {
    /*  */
    color: var(--cv-color-muted);
  }

  .experience__link {
    color: var(--cv-color-secondary);
    font-size: var(--font-size-item);
    line-height: var(--cv-line-height);
    text-decoration: none;
  }

  .experience__link:hover {
    text-decoration: underline;
  }
}

/* Location / Period */

.location,
.period {
  color: var(--cv-color-secondary);
  font-size: var(--font-size-item);
  line-height: var(--cv-line-height);
  white-space: nowrap;
}

/* Job */
.job-title {
  margin: 0;
  padding: 0;
  color: var(--cv-color-secondary);
  font-size: var(--font-size-item);
  font-weight: 500;
  line-height: var(--cv-line-height);
}

/* Description */

.description {
  margin: 0;
  padding: 0;
  color: var(--cv-color-text);
  font-size: var(--font-size-item);
  line-height: var(--cv-line-height);
}

/* Achievement */

.achievement {
  margin: 0;
  /* color: var(--cv-color-text); */
  /* font-size: var(--font-size-item); */
  /* line-height: var(--cv-line-height); */

  /* padding-left: 1.2em; */

  /* &.achievement--circle {
    list-style-type: disc;
  }

  &.achievement--square {
    list-style-type: square;
  }

  &.achievement--none {
    padding-left: 0;
    list-style: none;
  } */

  .achievement-item {
    font-size: inherit;
    line-height: inherit;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: var(--cv-color-text);
    font-size: var(--font-size-item);
    line-height: var(--cv-line-height);
  }
}